header{display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: rgb(247, 242, 240);
    max-width: 1300px;
    margin: 0 auto;
    border-bottom: solid 2px red;
    }
    
    nav ul{display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            margin-top: 35px;
            
           
        }
    
   
    
    .line{border-top: solid 2px red;}
    
    .t2{background-color: rgb(233, 229, 228);
    }
    .t3{background-color: rgb(217, 217, 217);
    margin-bottom: 0;}
    .t4{
        background-color:rgba(164, 183, 192, 0.66);
    margin-top: 0;
    margin-bottom: 0;}
    
    .t5{background-color: rgb(164, 183, 192);
        margin-top: 0;
    }
    .t5 h2{margin-top: 0;
    padding-top: 20px;
    }
    .t4 h2{margin-top: 0;
        padding-top: 15px;
    
    }


/* ------Knapper på portfolie-side------ */

    .btn2{margin-left: 28%;
        font-family: playfair;
        border: solid 1px rgba(0, 0, 0, 0.581);
        border-radius: 4px;
        height: 40px;
        background-color: rgb(247, 242, 240);
        
        

    
    }
    .btn2 a{text-decoration: none;
        color: rgb(102, 136, 152);
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 35px;
        padding-bottom: 50px;
        font-size: 16px;
    }

    .btn3, .btn4 {margin-left: 33%;
        font-family: playfair;
        border: solid 1px rgba(0, 0, 0, 0.581);
        border-radius: 4px;
        height: 40px;
        background-color: rgb(247, 242, 240);
    }

    .btn3 a, .btn4 a{text-decoration: none;
        color: rgb(102, 136, 152);
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 35px;
        padding-bottom: 50px;
        font-size: 16px;
    }

    .t5_container{margin-left: 8%;}

    .btn5p{font-family: playfair;
        border: solid 1px rgba(0, 0, 0, 0.581);
        border-radius: 4px;
        height: 40px;
        background-color: rgb(247, 242, 240);}

    .btn5v{font-family: playfair;
        border: solid 1px rgba(0, 0, 0, 0.581);
        border-radius: 4px;
        height: 40px;
        background-color: rgb(247, 242, 240);
        margin-left: 5%;
    }
    
    .btn5p a{text-decoration: none;
        color: rgb(102, 136, 152);
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 35px;
        padding-bottom: 50px;
        font-size: 14px;
    }
    .btn5v a{text-decoration: none;
        color: rgb(102, 136, 152);
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 35px;
        padding-bottom: 50px;
        font-size: 14px;
    }
    
    /* .container2{
        position: relative;}
    
    .btn2{position: absolute;
         top: 85%;
         left: 8%;
         cursor: pointer;
         background-color:rgba(247, 242, 240, 0.721);
         font-family: playfair;
         color: rgb(67, 96, 109);
         font-weight: 700;
         border: none;
         padding-top: 7px;
         padding-bottom: 7px;
         padding-left: 15px;
         padding-right: 15px;
    }
    
    .container3{position: relative;}
    
    .btn3{position: absolute;
        top: 85%;
        left: 10%;
        cursor: pointer;
         background-color:rgba(247, 242, 240, 0.721);
         font-family: playfair;
         font-weight: 700;
         border: none;
         padding-top: 7px;
         padding-bottom: 7px;
         padding-left: 15px;
         padding-right: 15px;
    }
    
    .btn2 a, .btn3 a, .btn4 a{text-decoration: none;
        color: rgb(56, 80, 91);}
    
    
    .container4{position: relative;}
    
    .btn4{position: absolute;
        top: 85%;
        left: 10%;
        cursor: pointer;
         background-color:rgba(246, 236, 232, 0.626);
         font-family: playfair;
         color: rgb(67, 96, 109);
         font-weight: 700;
         border: none;
         padding-top: 7px;
         padding-bottom: 7px;
         padding-left: 15px;
         padding-right: 15px;
    }
    
    .container5{position: relative;}
    
    .container5_2{position: relative;} */
    
    footer{border-top: solid 2px red;}
    
    
    
    
    @media (min-width: 800px){
        body{margin: 0 auto;}
        h2{text-align: center;}
    
       main{
           max-width: 1100px;
    }
        
    
        
        
        
        .grid_1-1-1{display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
        
    }
    
        .grid_1-1{display: grid;
            grid-template-columns: 1fr 1fr;
    
        }

        .grid_1-1l{display: grid;
            grid-template-columns: 400px 1fr;
    
        }

        .grid_1-1r{display: grid;
            grid-template-columns: 1fr 400px;
    
        }
            
    }